{% extends 'base.html' %}

{% block title %}
<title>待辦事項</title>
{% endblock %}
{% block css %}
<style>
    .todo {
        background-color: aqua;
        border-radius: 12px;
        padding: 12px;
        margin: 6px;
        width: 600px;
    }
</style>
{% endblock %}

{% block content %}

<h1>TodoList</h1>
{% if not todos %}
<h3>無待辦事項, 請新增或登入</h3>
{% endif %}
<!-- <a href="create/">建立待辦事項by 網址</a> -->
<!-- 9/10 1:30:00 -->
{% for todo in todos %}
<div class="todo">
    <a href="{% url 'delete_todo' todo.id %}" onclick="return confirm('是否刪除?')">刪除</a>
    <h4>{{todo.created}}</h4>
    <a href="{% url 'view_todo' todo.id %}">
        <h3>{{todo.title}}</h3>
    </a>
    <p>{{todo.text}}</p>
    <u>{{todo.important}}</u>
    {% if todo.date_completed %}
    <p>
        完成時間:<u>{{todo.date_completed}}</u>
    </p>
    {% endif %}
</div>

{% endfor %}
{% endblock %}