<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    {% block css %}
    {% endblock %}

    <!-- 9/24 2:00:00 -->
</head>

<body>
    <a href="{% url 'todolist' %}">首頁</a>
    {% if user.is_authenticated %}
    使用者:{{user.username}}
    <a href="{% url 'user_logout' %}">登出</a>
    <a href="{% url 'create_todo' %}">建立待辦事項by name</a>
    {% else %}
    <a href="{% url 'user_login' %}">登入</a>
    <a href="{% url 'user_register' %}">註冊</a>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>

</html>